@import "tailwindcss";

@layer base {
  body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #f9f6f5;
    color: #2f2f2f;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}
