@import "tailwindcss";

@layer base {
  body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #f9f6f5;
    color: #2f2f2f;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

/* Pagefind UI theming */
:root {
  --pagefind-ui-primary: #ba0027;
  --pagefind-ui-text: #2f2f2f;
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: #eae8e7;
  --pagefind-ui-tag: #fdd34d;
  --pagefind-ui-border-width: 0px;
  --pagefind-ui-border-radius: 1rem;
  --pagefind-ui-font: 'Be Vietnam Pro', sans-serif;
}
